.date-container{
    background-color: #F6F6FA;
    height: 100vh;
}

.date-title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.date-box{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.date-text {
    margin-top: 5vh;
}

.date-picker {
    margin-top: 5vh;
    
}

