.events {
  background-color: #f6f6fa;
  height: 100vh;
}
.containerEvents {
  justify-content: center;
  align-content: center;
  display: flex;
}

.columnContainer {
  display: flex;
  flex-direction: column;
}
