.login-container{
    background-color: #2E2E38;
    height: 100vh;
}


.whiteLogo {
    display: flex;
    justify-content: center;
    
}

.white_logo {
    display: flex;
    margin-top: 10vh;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

.email-input, .password-input {
   border-radius: 30px;
   width: 300px;
   height: 52px;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', sans-serif;

}

.password-input{
    margin-top: 8px;
}

.get-password {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.btn-session {
    color: #ffe600;
    background-color: #ffe600;
    border-radius: 30px;
    width: 300px;
    height: 52px;
    color: #2E2E38;
    margin-top: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}