.newCar {
  background-color: #f6f6fa;
  height: 100vh;
 
}

.containerLogo-C {
  display: flex;
  flex-direction: column;
 
}
.btn-h{
    width: 300px;
    height: 52px;
}
.btn-N,
.btn-NE {
  margin-top: 1rem;
  border: none;
  width: 270px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 52px;
}
.btn-N {
  background-color: rgba(111, 253, 168, 1);
  margin-top: 2rem;
  color:black;

}

.car-container{
  
}

.logoCoche {
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.formCheck{
    margin-top: 10px;
   
}
.logoCheck {
  width: 40vw;
  height: auto;
}
.containerPass {
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 4rem;
}
.containerSend {
  justify-content: center;
  align-content: center;
  display: flex;
}
.btn-send {
  margin-top: 4rem;
}
.logoCheck {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}


.conditions {
  font-size: 1rem;
  margin-top: 3vh;

}

.check-section{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 3vh;
}

.text-question{
 
}
