.policies-container {
    background-color: #F6F6FA;
    height: 100vh;
}

.policies-title {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.policy-box {
  height: 45vh;

}
.assistance-box{   
        display: flex;
        flex-direction: column;
        align-items: center;

}
.btn-assistance{
    color: #ffe600;
    background-color: #ffe600;
    border-radius: 30px;
    width: 270px;
    height: 80px;
    color: #2E2E38;
    margin-top: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
}

.phone{
    margin-right:3vw;
}